body{
    margin:0;
}

.profile-icon{
    width: 3rem;
    height: 3rem;
    margin: -2rem auto 0;
    border-radius: 50%;
}

/* card's font size  */

.card-font-size{
    font-size: 14px;

}


.gradient-background {
    background-image: linear-gradient(90deg, #f06efc, #6651f0);
    
    
}
.nav-margin{
    /* margin: 0 5rem; */
}